<div class="saved-maps-page">
  <div class="saved-maps-container">
    <!-- Header -->
    <header class="header">
        <h1 class="app-title">VolleyMap</h1>
        <h2 class="page-title">Saved Maps</h2>
        <button class="nav-btn" (click)="navigateToPlayCreation()">Go to Play Creation</button>
      </header>
      

    <!-- Category Section -->
    <section class="category-section">
      <h3 class="category-title">{{ selectedCategory.toUpperCase() }}</h3>
      <div class="category-actions">
        <button class="btn new-category-btn" (click)="createCategory()">
          New Category
        </button>
        <label for="category-select" class="category-label">Choose a category:</label>
        <select
          id="category-select"
          class="category-select"
          [(ngModel)]="selectedCategory"
          (change)="filterPlaysByCategory()"
        >
          <option value="All">All Categories</option>
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
        <button
          class="btn delete-category-btn"
          [disabled]="
            selectedCategory === 'All' || selectedCategory === 'Uncategorized'
          "
          (click)="deleteCategory()"
        >
          Delete Category
        </button>
      </div>
    </section>

    <!-- Saved Plays Grid -->
    <section class="plays-grid">
        <div
          class="play-card"
          *ngFor="let play of filteredPlays"
          [class.selected]="selectedPlays.has(play.id)"
          (click)="togglePlaySelection(play.id)"
        >
          <div class="play-card-inner">
            <div class="play-thumbnail">
              <img
                [src]="'http://127.0.0.1:5000/thumbnails/' + play.thumbnail_name"
                alt="Play Thumbnail"
                (error)="onThumbnailError(play)"
              />
            </div>
      
            <p class="play-title">{{ play.file_name.slice(0, -4) }}</p>
          </div>
        </div>
      </section>
      

    <!-- Actions -->
    <section class="actions">
      <button class="btn delete-btn" (click)="deleteSelectedPlays()">
        Delete
      </button>
      <button class="btn download-btn" (click)="downloadSelectedPlays()">
        Download
      </button>
    </section>

    <!-- Floating Action Button -->
    <button class="fab" (click)="navigateToPlayCreation()">+</button>
  </div>
</div>
